#app {
    display: grid;
    height: 100vh;
    grid-template-rows:25%  75%;
    .header {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    #map{
        grid-column: 1/-1;
        grid-row: 2/3;
    }
}